* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  background-color: #e1f2fe;
}
.container {
  background-color: #98d2eb;
  height: 600px;
  width: 500px;
  margin: 30px auto;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.search {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin-top: 10px;
  gap: 5px;
}
#search-city {
  height: 30px;
  width: 250px;
  font-size: 1rem;
  border-radius: 30px;
  border: none;
  text-align: center;
}
#submit-btn {
  height: 30px;
  width: 40px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
#submit-btn:hover {
  opacity: 0.7;
}
#submit-btn:active {
  background-color: #f6fbfe;
}
.city-result {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* margin: 10px 0; */
  margin-top: 15px;
}
#weather-image {
  height: 220px;
  width: 220px;
}
#weather-conditions{
   font-size: 1.2rem; 
   font-weight: 600;
}
#city {
  font-size: 4rem;
  font-weight: 700;
  padding: 10px 10px 10px 10px;
}
#city-temp {
  font-size: 2.5rem;
  font-weight: 700;
}
.weather-details {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 40px;
  font-size: 1.2rem;
  font-weight: 550;
  text-align: center;
}
#time-result{
    font-size: 1rem;
    padding: 10px;
}
#humidity-result{
    font-size: 1rem;
    padding: 10px;
}
#wind-result{
    font-size: 1rem;
    padding: 10px;
}
#aq-result{
    font-size: 1rem;
    padding: 10px;
}
